body {
  margin: 0;
  font-family: 'Didact Gothic', sans-serif !important;
  font-size: 22px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #454545;
}

button {
  font-family: 'Didact Gothic', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
